//variables specification:
$ImagePath: "../../images/";


body {
  margin: 0;
}

.main-container {
  background-image: url("");
  height: 100vh;
  h1, h2 {
    text-align: center;
    color: black;
  }
}

.main-container img {
  width: 100%;
}
